.vocab-insideCard {
    margin: 10px;
  }
  
  .meaning-insideCard {
    margin: 10px;
  }
  
  .vocab-inner {
    font-family: 'Times New Roman', Times, serif;
  }
  
  .deleteBTN {
    cursor: pointer;
  }

  /* .audioBTN {
    color: #2e7ed3 !important;
  } */

  .plus-circle {
    color: #2e7ed3 !important;
  }