
  .chat-popup{
    position: fixed;
    bottom:75px;
    right:180px;
    height: 400px;
    width: 300px;
    background-color: #fff;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 10px;
    overflow: auto;
    scrollbar-color: rgb(244, 98, 58) white;
    z-index: 1;
  }
  .search-bar-top{
    width: 80%;
  
  }


  #search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    
      
  }

  #dict-search{
    font-size: 2rem;
    opacity: 0.8;
    color: #FFF;
    background-color: rgb(244, 98, 58);
    margin-bottom: 6px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

  .plus-circle {
    font-size: 30px;
    opacity: 0.8;
    text-align: left;
    color: rgb(244, 98, 58);
  }

  .dict-text{
    display: block;
    margin-top: 2rem;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    color: rgb(244, 98, 58);
    font-size: 25px;
    font-weight: bold;
    
  }

  .beforeSearch{
    font-size: 150px;
    opacity: 0.65;
   text-align: center;
    margin-top: 2rem;
    color: rgb(244, 98, 58);
    
  }
 
   .ImBook {
    position: fixed;
    bottom: 70;
    color: #F9B208;
    cursor: pointer;
    /* border: 5px solid white;  */
  } 

  .icon-container-outer{
    background-color: #FFEEDB;
    padding: 0.8rem;
    margin-top: 1rem;
    width: 28rem;
  }

  .word-definition{
   font-size: 1.5rem;
   text-align: center;
   border: solid 2px black;
   margin-top: 1rem;
   margin-bottom: 2rem;
   border-radius: 5px;
   padding: 0.5rem;
  }

  .btn-dictionary {
    background-color: #2e7ed3 !important;
  }

  .beforeSearch {
    color: #2e7ed3 !important;
  }

  .dict-text {
    color: #2e7ed3 !important;
  }


  @media only screen and (max-width: 1000px) {

    .chat-popup{
      position: fixed;
      bottom:75px;
      right: 10rem;
      height: 400px;
      width: 25rem;
      background-color: #fff;
      /* display: flex; */
      flex-direction: column;
      justify-content: space-between;
      padding: 0.75rem;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
      border-radius: 10px;
      overflow: auto;
      scrollbar-color: rgb(244, 98, 58) white;
      z-index: 1;
    }

   .ImBook {
    position: fixed;
    bottom: 70;
    font-size: 6rem;
    right: 3rem;
    /* border: 5px solid white;  */
  } 
  }