span.slider.round {
  font-size: 40px;
}

.dark-mode {
  background-color: #1a1919;
  color: #999;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}

.light-mode {
  background-color: #fff;
  color: #333;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}

.toggle-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #19a2c1;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-checkbox {
  padding: 10px;
}

.box-container {
  width: 100rem;
  height: 45rem;
  /* margin-top: 0rem;
  margin-left: 40rem; */
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px rgb(56, 113, 146) !important;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.box-image { 
  width: 100%;
  /* height: 30rem; */
  padding: 3rem;
  /* border: solid 1px black; */
  /* box-shadow: 0px 1px 10px 1px #000; */
  margin-right: 3rem;
}

.box-main {
  text-align: left;
}

.box-title {
  text-align: center;
  font-size: 3rem;
  color: #2567ad; 
}

.box-step {
  margin-top: 3rem;
  line-height: 2rem;
  font-size: 2rem;
  color: #2567ad; 
}

.box-icon {
  font-size: 5rem;
  opacity: 0.8;
  text-align: left;
  /* color: rgb(244, 98, 58); */
  color: #2567ad;
  margin-top: 3rem;
  cursor: pointer;
}

.cupcakeLogo {
  margin: 5rem;
}

.BGbox {
  width: 100%;
  height: 50%;
  background-color: #6daaeb;
  transition: 50%;
}

.QRIMG {
  width: 80%;
}


@media only screen and (max-width: 1000px) {
  .box-container {
    width: 70%;
    height: 150%;
    /* margin-top: 10rem;
    margin-right: -15rem; */
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
    display: flex;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 1px #000;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
  .box-step {
    margin-top: 3rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
  }

  .box-title {
    text-align: center;
    font-size: 2rem;
    color: #2567ad; 
  }

  .cupcakeLogo {
    margin: 2rem;
  }

  .box-icon {
    font-size: 3rem;
    opacity: 0.8;
    text-align: left;
    /* color: rgb(244, 98, 58); */
    color: #2567ad;
    margin-top: 1rem;
    cursor: pointer;
  }

  .box-img { 
    width: 100% !important;
    margin-bottom: 5rem;
    /* height: 30rem; */
    padding: 0 2 2 3rem;
    /* border: solid 1px black; */
    border: 0px !important;
    box-shadow: 0px !important;
    margin-right: 3rem;
  }

  .QRIMG {
    width: 100%;
    margin-top: 3rem;
    margin-right: -20%;
  }

}