.iframeAnsPage{
    min-width: 200px;
    /* max-width: 400px; */
    width:100%;
    height:315px;
}

.ansPageUserCard{
    margin-bottom: 30px; 
    width: 300px; height: 315px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:414px){
    .ansPageProfilePic{
        display:none;
    }
    .ansPageUserCard{
        height:100px;  
    }
}