.iframeExercise{
    min-width: 200px;
    /* max-width: 400px; */
    width:100%;
    height:315px;
}
.exerciseUserCard{
    margin-bottom: 30px; 
    width: 300px; height: 315px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:414px){
    .exerciseProfilePic{
        display:none;
    }
    .exerciseUserCard{
        height:35px;  
    }
}
/* .containerExercise{
    width:950px
} */
/* @media (max-width: 375px) {
    .iframeExercise{
        width: 350px;
        height: 197px;
    } */
    /* .containerExercise{
        width:2000px
    } */
    /* } */