* {
    outline : 0px solid  red ;
    
  }

  .intro_img2word {
    
    display:flex ;
    flex-wrap: wrap;

    font-size: 15px ;
    /* align-content: space-between; */
    justify-content: center;
    /* margin-bottom : 50px ; */
    text-align : center
 }


 .imgin_img2word {

    font-size: 10px ;
    /* align-content: space-between; */
    justify-content: space-between;
    /* margin-bottom : 50px ; */
    text-align : left
 }


 .imgout_img2word {

    font-size: 10px ;
    /* align-content: space-between; */
    justify-content: space-between;
    /* margin-bottom : 50px ; */
    text-align : left
 }

 .submitLink {
   background-color: transparent;
   text-decoration: underline;
   border: none;
   color: blue;
   cursor: pointer;
 }
 submitLink:focus {
   outline: none;
 }


