.word-highlight {
    background-color: rgb(174, 246, 255);
    cursor: pointer;
}

/* .Jumbotron-subtitle {
    margin-left: 3rem;
    width: auto ; 
    height: 20rem ; 
    overflow-x: "scroll" !important; 
    grid-area: subtitleBox;
} */

.videoContent {
    grid-area: videoBox;
    max-width: min(50rem 100vw);
}

.videoBoxContrainer {
    display: grid;
    grid-template-areas:
    'videoBox subtitleBox'
    'videoBox subtitleBox'
     ;     
}


/* .videoPageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */


@media only screen and (max-width: 1000px) {
    /* body {
      background-color: lightblue;
    } */

    .videoContent {
        margin-left: auto;
        margin-right: auto;
    }

    .Jumbotron-subtitle {
        width: auto ;
        max-width: 100% !important;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        overflow-x: "scroll"; 
        box-sizing: border-box;
    }    

    .videoBoxContrainer {
        grid-template-areas:
        'videoBox videoBox'
        'subtitleBox subtitleBox'
         ;  
    }

  }
/* @media (max-width: 450px) { */
/* @media (max-width: 750px) {
    .iframeSubtitlePage {
        width: 343px;
    }
 } */
 /* .subtitleJumbotron{
    width: "600px";
    height: '350px';
    margin-left: "50px";
    overflow-X: "scroll"
 } */

/* @media (max-width: 600px) {
    .subtitleJumbotron{
    width: "200px";
    height: '300px';
    margin-left: "50px";
    overflow-X: "scroll"
 }
} */
