.container {
    flex-grow: 1;

    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
}


.main-container {

    /* position: relative; */
    /* min-height: 100vh;  */
}

#contact {

    /* position:-ms-page;
    bottom: 0;
    width: 100%;
     height: 2.5rem; */
}